/* Ustawienia dla całego przewijaka */
::-webkit-scrollbar {
	width: 4px; /* Szerokość pionowego przewijaka */
	height: 4px; /* Wysokość poziomego przewijaka */
}

/* Ustawienia dla tła przewijaka */
::-webkit-scrollbar-track {
	background-color: #81411b; /* Kolor tła przewijaka */
	border-radius: 10px; /* Zaokrąglone rogi */
}

/* Ustawienia dla uchwytu (thumb) przewijaka */
::-webkit-scrollbar-thumb {
	background-color: #DA8B5E; /* Kolor uchwytu */
	border-radius: 10px; /* Zaokrąglone rogi uchwytu */
	border: 1px solid #5c280a; /* Opcjonalny obramowanie */
}

/* Ustawienia dla uchwytu w stanie najechania */
::-webkit-scrollbar-thumb:hover {
	background-color: #555; /* Kolor uchwytu po najechaniu */
}
